---
- block:
  - name: Install GitLab dependencies
    yum:
      name: "{{ gitlab_yum_dependencies }}"
      state: present
      update_cache: yes
    notify:
      - Start sshd

  - name: Install Postfix
    yum:
      name: postfix
      state: present
      update_cache: yes
    notify:
      - Start postfix
    when: not gitlab_use_external_smtp

  - name: Ensure firewalld is enabled
    systemd:
      name: firewalld
      state: started
      enabled: yes

  - name: Allow some firewall to using
    firewalld:
      service: "{{ item }}"
      permanent: true
      state: enabled
      immediate: yes
    with_items: "{{ gitlab_firewalld_allows }}"
  when: ansible_os_family == "RedHat"

- block:
  - name: Install GitLab dependencies
    apt:
      name: "{{ gitlab_apt_dependencies }}"
      state: present
      update_cache: yes

  - name: Install Postfix
    apt:
      name: postfix
      state: present
      update_cache: yes
    with_items:
      - postfix
    notify:
      - Start postfix
    when: not gitlab_use_external_smtp
  when: ansible_os_family == "Debian"

- name: Run script to check system and add repository for GitLab CE
  shell: "curl -L -s {{ gitlab_script_url }} | bash"
  when:
    - gitlab_script_url is defined
